.container {
    display: flex;
    flex-direction: row;
    > * {
        flex: 1;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}